@import url("960_12_col.css");
* {
            font-family: Arial, Verdana, sans-serif;
            color: #665544;
            text-align: center;
        }
        #nav,
        #feature,
        .article,
        #footer {
            background-color: #efefef;
            margin-top: 20px;
            padding: 10px 0px 5px 0px;
        }
        #feature,
        .article {
            height: 100px;
        }
        li {
            display: inline;
            padding: 5px;
        }