div.box {
    background-color: #bbbbaa;
    width: 300px;
    height: 300px;
}

p.box {
    width: 75%;
    height: 75%;
    background-color: #0088dd;
}

td.description {
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}

h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}

.guitar p {
    min-height: 10px;
    max-height: 30px;
    padding: 5px;
}

p.one {
    overflow: hidden;
    border: solid red;
    border-width: 3px;
}

p.two {
    overflow: scroll;
    border: solid;
    border-width: thick;
    border-color: green;
}

p.three {
    overflow: auto;
    border: red dashed;
    border-width: 1px 4px 12px 4px;
}

p.onee {
    border-style: dashed;
}

p.twoo {
    border-style: dotted;
    border-color: aqua;
}

p.threee {
    border-style: double;
}

p.four {
    border-style: groove;
    border-color: blue;
}

p.five {
    border: red dashed;
    border-width: 1px 4px 12px 4px;
    border-style: hidden;
}

p.six {
    border-style: outset;
}

p.seven {
    border-style: inset;
}

p.eight {
    border-style: ridge;
}

.bus p {
    padding: 5px;
}

p.yar {
    border-style: dashed;
    border-color: #0088dd;
}

p.good {
    border-style: solid;
    border-color: #bbbbaa #111 #ee3e80 #0088dd;
}

.int p {
    width: 250px;
    border: 1px black solid;
}

.ind {
    padding: 10px 40px;
    margin: auto;
}

li {
    margin-right: 20px;
    display: inline;
}

.serv {
    visibility: hidden;
}

p.exp1 {
    padding: 15px;
    width: 197px;
	height: 54px;
	border: 11px solid;
	border-image: url("/img/dots.gif") 11 11 11 11 stretch;}
p.exp2 {
    padding: 15px;
    width: 197px;
	height: 54px;
    border: 11px solid;
	border-image: url("/img/dots.gif") 11 11 11 11 round;}

p.exp3 {
    box-shadow: -5px -5px #777;
}

p.exp4 {
    box-shadow: 5px 5px 5px #777;
}

p.exp5 {
    box-shadow: 5px 5px 5px 5px #777;
}

p.exp6 {
    box-shadow: 0 0 10px #777;
}

p.exp7 {
    box-shadow: inset 0 0 10px #777;
}

.dog {
    border: 10px solid #ccc;
    padding: 20px;
    width: 275px;
    text-align: center;
    border-radius: 70px 0px 13px 90px;
}

.dog1 {
    border: 10px solid #ccc;
    padding: 30px;
    width: 275px;
    text-align: center;
    border-top-left-radius: 80px 50px;
}

.dog2 {
    border: 10px solid #ccc;
    padding: 20px;
    width: 275px;
    text-align: center;
    border-radius: 1em 4em 1em 4em / 1em 8em 1em 8em;
}

.dog3 {
    border: 10px solid #ccc;
    padding: 20px;
    width: 275px;
    height: 275px;
    text-align: center;
    border-radius: 275px;
}
