@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Quicksand_Book-webfont.woff') format('woff'), 
        url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
        url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    background: #413f3b url("../img/bg.jpg");
    font-size: 90%;
    margin: 0px;
    text-align: center;
}

a {
    color: #b5c1ad;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.header {
    background-image:url(../img/bg-header.jpg);
    padding: 0;
    position: fixed;
    height: 100px;
    top: 0;
    width: 100%;
    z-index: 50;
}

.nav {
    float: right;
    padding: 45px 0px 0px 0px;
    text-align: right;
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
}

.logo {
    margin-bottom: 20px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    background-image: url(../img/bg-triangle.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

h1, h2 {
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 240%;
    margin-top: 140px;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #b5c1ad;
}

.intro {
    clear: left;
    font-size: 90%;
    line-height: 1.4em;
}

.main-story {
    background-image: url(../img/triangles.png);
    background-repeat: no-repeat;
    background-position: 122px 142px;
    height: 570px;
}

.more-articles {
    border-top: 1px solid #ffffff;
    padding: 10px;
}

.more-articles p {
    border-bottom: 1px solid #807c72;
    padding: 5px 0px 15px 0px;
}

.more-articles p:last-child {
    border-bottom: none;
}

.footer {
    clear: both;
    background: rgba(0,0,0,0.2);
    padding: 5px 10px;
}

.footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: right;
}

.footer a {
    color: #807c72;
}