img.large {
    width: 500px;
    height: 500px;
}

img.medium {
    width: 250px;
    height: 250px;
}

img.small {
    width: 100px;
    height: 100px;
}

img.align-left {
    float: left;
    margin-right: 10px; 
}

img.align-right {
    float: right;
    margin-left: 10px; 
}

.clear {
    clear: both;
}

img.align-center {
    display: block;
    margin: 10px auto;
}

body {
    background: #fff url("/img/tulip.gif") no-repeat top right;
}

.patt {
    background-image: url("../img/pattern.gif");
    background-repeat: no-repeat;
    background-position: 20%;
    background-color: aqua;
    padding: 150px;
}

.patt {
    background-image: url("../img/pattern.gif");
    background-repeat: no-repeat;
    background-position: 20%;
    background-color: aqua;
    padding: 150px;
}

.multipatt {
    padding: 150px;
    background: url("/img/pattern.gif") top left no-repeat, url("/img/title.gif") bottom right no-repeat, url("/img/tulip.gif") center no-repeat;
}

a.button {
    height: 36px;
    background-image: url("/img/button-sprite.jpg");
    text-indent: -9999px;
    display: inline-block;
}

a#add-to-basket {
    width: 174px;
    background-position: 0px 0px;
}

a#options {
    width: 210px;
    background-position: -175px 0px; 
}

a#add-to-basket:hover {
    background-position: 0px -40px;
 }

a#options:hover {
    background-position: -175px -40px;
 }
a#add-to-basket:active {
    background-position: 0px -80px;
 }

a#options:active {
    background-position: -175px -80px;
 }

 .grad {
     margin-top: 20px;
     width: 200px;
     height: 100px;
    background: linear-gradient(25deg,white, blue);
 }