body {
    width: 960px;
    margin: 0 auto;
}
* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}
#content {
    overflow: auto;
    height: 100%;
}
#nav,
#feature,
#footer {
    background-color: #efe;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.column1,
.column2,
.column3 {
    background-color: #efe;
    width: 300px;
    float: left;
    margin: 10px;
    text-align: center;
}
li {
    padding: 5px;
    display: inline;
    text-align: center;
}