body {
    width: 90%;
    margin: 0 auto;
}
* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}
#content {
    overflow: auto;
}
#nav,
#feature,
#footer {
    background-color: #efe;
    padding: 0.5em 0;
    margin: 1%;
    text-align: center;
}
.column1,
.column2,
.column3 {
    background-color: #efe;
    width: 31.3%;
    float: left;
    margin: 1%;
    text-align: center;
}
li {
    padding: 0.5em;
    display: inline;
    text-align: center;
}
#feature,
.article {
    height: 10em;
    margin-bottom: 1em;
}