body {
    width: 960px;
    font-family: Verdana, Arial, sans-serif;
    color: #665544;
}

h1 {
    background-color: #efe;
    padding: 10px;
    position: absolute;
    left: 250px;
    top: 140px;
    margin-bottom: 40px;
    z-index: 3;
}


p {
    margin-top: 50px;
    
}

p.rel {
    position: relative;
    top: 10px;
    left: 100px;
    margin-bottom: 40px;
    z-index: 2;
}

h2 {
    position: fixed;
    top: 0px;
    left: 470px;
}

blockquote {
    float: right;
    width: 350px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 30px 0px 10px 10px;
    padding; 10px;
    border-top: solid 1px #665544;
    border-bottom: solid 1px #665544;
}

.float p {
    float: left;
    width: 250px;
    margin: 10px;
}

.clear {
    clear: both;
}

.float {
    border: 1px solid green;
    overflow: auto;
    width: 100%;
}

.evo { 
    position: relative;
    top: 10px;
    left: 100px;
}

.column1 {
    float: left;
    width: 460px;
    margin: 10px;
}

.column2 {
    float: left;
    width: 300px;
    margin: 10px;
}

.column3, .column4, .column5 {
    width: 300px;
    margin: 10px;
    float: left;
}