/*цвет rgb*/
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive.eot');
    src: url('fonts/chunkfive.eot',#iefix) format('embedded-opentype'), url('fonts/chunkfive.woff') format('woff'), url('fonts/chunkfive.ttf') format('truetype'), url('fonts/chunkfive.svg#ChunkFiveRegular') format('svg');    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#eee;
    font-size: 100%;
}

h1 {
    color:rgba(113,0,95,0.2);
    background-color:rgba(255,197,120,0.5);
    font-family: ChunkFiveRegular, serif;
    text-transform: uppercase;
    text-decoration: underline;
} 

/*шестнадцатеричный код*/
h2 {
    color:#cc0000;
    background-color:#B8C248;
    font-family: 'Mina', sans-serif;
    text-transform: lowercase;
    text-decoration: overline;
}

/*имя цвет*/
h3 {
    color:darkgreen;
    background-color:aqua;
}

h1,h2,h3{
    padding:10px;
    margin:20px;
}

a:link {
    color: deeppink;
    text-decoration: none;
} 

a:visited {
    color: black;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}

a:active {
    color: darkcyan;
}

input {
    padding: 6px 12px;
    border: 1px solid #665544;
    color: #fff;
}

input.submit:hover {
    background-color: #665544;
}

input.submit:active {
    background-color: chocolate;
}

input.text {
    color: #ccc;
}

input.text:focus {
    color: #665544;
}

.omlet {
    font-size:46px;
    color:blue;
}

#sp {
    background-color:orange;
    color:#fff;
}

.abzac {
    font-size: 1.2em;
}

.credits {
    font-weight: bold;
    text-transform: capitalize;
}

.nrmal {
    font-weight: normal;
    font-style: normal;
}

.ital {
    font-style: italic;
}

.obl {
    font-style: oblique;
}

.kino a {
    text-decoration: none;
}

.complete {
    text-decoration: line-through;
}

.line {
    line-height: 2em;
}

#line {
    vertical-align: text-bottom;
}

#kern {
    word-spacing: 1.5em;
    letter-spacing: 1.5em;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
}

#justify {
    text-align: justify;
}

#letter {
    width: 600px;
}

#six-months {
	vertical-align: text-top;}

#one-year {
	vertical-align: baseline;}

#two-years {
	vertical-align: middle;}

#zakat {
    vertical-align: bottom;
}

.briards {
    background-image: url("/img/logo.gif");
    background-repeat: no-repeat;
    width: 165px;
    height: 100px;
    text-indent: -9999px;
}

.credits:hover {
    text-indent: 600px;
}

.indent {
    text-indent: 40px;
}

.indent::before {
    display: block;
    float: left;
    font-family: 'Georgia';
    font-size: 76px;
    line-height: 64px;
    margin:20px 30px 20px 0;
    content: '\201C';
}

.one {
    font-size: 200%;
    padding: 20px;
    text-align: center;
    color: #666;
    background-color: #eee;
    text-shadow: 1px 1px 0px #000;
}

.two {
    font-size: 200%;
    padding: 20px;
    text-align: center;
    color: #666;
    background-color: #ddd;
    text-shadow: 1px 1px 3px #666;
}

.three {
    font-size: 200%;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #ccc;
    text-shadow: 2px 2px 7px #111;
}

.four {
    font-size: 200%;
    padding: 20px;
    text-align: center;
    color: #ccc;
    background-color: #bbb;
    text-shadow: -1px -2px #666;
}


.five {
    font-size: 200%;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #aaa;
    text-shadow: -1px -1px #666;
}

p.intro:first-letter {
    font-size: 200%;
}

p.intro:first-line {
    font-weight: bold;
}

p[class] {
    color: blue;
}