body {
    font-family: Arial, sans-serif;
    color: #111;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

.list li {
    list-style-image: url("/img/star.png");
    margin: 10px 0px 0px; 
}

.illuminations {
    list-style: outside circle;
}

.season {
    list-style-position: inside;
}

ul {
    width: 150px;
}

li {
    margin: 10px;
}

table {
    width: 600px;
}

th, td {
    padding: 7px 10px 10px 10px;
} 

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111;
    border-top: 1px solid #999;
    text-align: left;
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}

.money {
    text-align: right;
}

.one td {
    border: 1px solid green;
    padding: 15px;
}

table.one {
    border-collapse: collapse;
}

input {
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdb;
    border-radius: 5px;
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
    display: block;
    margin-bottom: 10px;
    outline: none !important;
}

input:focus {
    background-color: #fff;
    border: 1px solid red;
}

input#email {
    background-image: url(/img/email.png);
}

input#twitter {
    background-image: url(/img/twitter.png);
}

input#web {
    background-image: url(/img/web.png);
}

input#submit {
    color: #444;
    text-shadow: 0px 1px 1px #fff;
    border-bottom: 2px solid #b2b;
    background-color: #b9e4e3;
    padding: 5px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce) );
}

input#submit:hover {
    color: #333;
    border: 1px solid #a4a;
    border-top: 2px solid #b2b;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
}

fieldset {
    width: 350px;
    border: 1px solid #dcd;
    border-radius: 10px;
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
}

.table input {
    display: inline-block;
}

.title {
    float: left;
    width: 100px;
    padding: 10px;
    text-align: left;
    margin-right: 10px;
} 

a {
    cursor: pointer;
}
