body {
  background-color: #eee; }

html {
  font-family: arial;
  font-size: 18px; }
  html h1, html h2, html h3 {
    text-align: center;
    text-transform: uppercase; }
  html h3 {
    color: #aaa;
    font-weight: bold; }

div {
  margin: 50px; }

.epigraph {
  font-style: italic;
  text-align: right; }
  .epigraph img {
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
    width: 600px;
}

.header {
  font-size: 36px;
  color: #4E7096; }
