/* Site */

body {
	color: #666666;
	text-align: center;}

#page {
	width: 600px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d6d6d6;
	padding: 20px;}
	
h3 {
	color: #547ca0;}