/* CSS for Index Page */

body {
    font-family: Gotham, Helvetica, Arial, sans-serif;
    color: #58595B;
    margin: 0px auto;
    padding: 30px;
    background: #f7f7f7;
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
h3 {
    color: #00ab95;
}
a {
    color: #00ab95;
    text-decoration: none;
}
a:hover {
    color: #ed6c7b;
}
ul {
    padding: 0px;
    margin-left: 40%;
    margin-right: auto;
    list-style-type: none;
}
li {
    padding: 10px;
    margin-bottom: 3px;
    text-align: left;
}
.blank {
    background: #f7f7f7;
}